@import 'color';

a {
  color: black;
}

.badge-notify {
  background:red;
  position:relative;
  top: 7px;
  left: -62px;
}

.header-under-line {
  margin-top: 0px;
  border-bottom: double 5px $primary-color;
}

// sticky footer
// footerの上にmainタグが来る必要あり。
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// show
.price-num {
  color: #B12704;
  font-size: 20px;
}

.vertical-text-bottom {
  vertical-align: bottom;
}